@import '../../../assets/css/variables';

:host {
    display: flex;
    min-width: 700px;
    margin: 0 auto;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: $color-primary;    
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    > div {
        align-items: center;
        justify-content: center;        
    }
}

// need to move this later to a check on the body tag.
md-input-container {
    width: 100%;
}

.description {
    padding-right: 50px;
}

.login-form {
    background-color: white;
    box-shadow: 0 1px 1px 3px rgba(black, 0.1);
    padding: 20px;
    color: black;
}