<div *ngIf="!isAuth">
    <p>Please login below</p>
    <div>
        <input
            type="text" 
            placeholder="Username"
            #username>
    </div>
    <div>
        <input 
            type="password" 
            placeholder="Password"
            #password>
    </div>  
    <button 
        [class.disabled]="loading" 
        [disabled]="loading"
        (click)="login(username.value, password.value)">
        <span *ngIf="!loading">Login</span>
        <span *ngIf="loading">Logging in...</span>
    </button>
</div>

<div *ngIf="isAuth && user">
    <div>
        You are currently logged in as <strong>{{ user.username }}</strong>.  
    </div>
    <button (click)="logout()">Logout</button>
</div>