
<div class="flex align-center-center">
    <div class="description flex-50">
        <h2>tavro</h2>
        <h5>Track your financials, protect your future, &amp; match with investors.</h5>
        <p>Sign up to get started and find your perfect investor match.</p>
        <!--<ul class="inline">
            <li>
                <a routerLink="">terms</a>
            </li>
            <li>
                <a routerLink="">pricing</a>
            </li>
            <li>
                <a routerLink="">privacy</a>
            </li>
            <li>
                <a routerLink="">support</a>
            </li>
        </ul>-->
    </div>
    <div class="flex-50 login-form">
        <p>Please login below</p>
        <div>
            <md-input-container>
                <input
                    mdInput
                    type="text" 
                    placeholder="Username"
                    #username>
            </md-input-container>            
        </div>
        <div>
            <md-input-container>
            <input 
                mdInput
                type="password" 
                placeholder="Password"
                #password>
            </md-input-container>                
        </div>  
        <button class="btn-lg btn-success"
            md-raised-button
            [class.disabled]="loading" 
            [disabled]="loading"
            (click)="login(username.value, password.value)">
            <span *ngIf="!loading">Login</span>
            <span *ngIf="loading">Logging in...</span>
        </button>
    </div>
</div>