<div class="navbar">
    <div class="logo">
        <a routerLink="/">tavro</a>
    </div>
    <nav>
        <a routerLink="/home" routerLinkActive="active">Home</a>
    </nav>
    <div class="user-area">
        <a *ngIf="!current.isAuthed" routerLink="/login" routerLinkActive="active">Login</a>
        <div *ngIf="current.isAuthed"> 
            <a (click)="auth.logout()">
                {{current.user.person.first_name}} 
            </a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>