@import '../assets/css/index';

$navbar-height: 60px;
$navbar-index: 10;
$user-area-index: 15;
$footer-height: 40px;

$nav-highlight: lighten($color-primary,5%);
$nav-hover: lighten($color-primary,10%);

body {
    margin: 0;
    margin-top: $navbar-height;
    background-color: $off-white;
}

.wrapper {
    padding: 50px;
    min-height: calc(100vh - #{$navbar-height} - #{$footer-height});
}

.navbar {
    position: absolute;
    z-index: $navbar-index;
    top: 0;
    left: 0;
    right: 0;
    height: $navbar-height;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 $gutter-md;
    background: $color-primary;

    nav {
        padding: 0 $gutter-md;
        display: flex;

        a {
            padding: 22px $gutter-lg;
            text-transform: uppercase;
            font-size: 12px;
            position: relative;

            &.active {
                background-color: $nav-highlight;

                &::after {
                    content:'';
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -10px;
                    width: 0;
                    height: 0;
                    border-top: solid 6px $nav-highlight;
                    border-left: solid 10px transparent;
                    border-right: solid 10px transparent;
                }
            }

            &:focus, 
            &:hover {
                background-color: $nav-hover;

                &::after {
                    border-top-color: $nav-hover;
                }
            }
        }
    }

    a {
        color: white;
    }
}

.logo {
    width: 25%;
    text-transform: uppercase;
}

.user-area {
    position: absolute;
    top: 0;
    right: $gutter-md;
    display: flex;
    align-items: center;
    height: $navbar-height;

    z-index: $user-area-index;
}

footer {
    height: 40px;
    display: flex;
    background-color: $dark-gray;
    color: white;
    width: 100%;
    padding: 15px;

    div {
        font-size: 10px;
    }
}