@import 'variables';

button {
    cursor: pointer;
    background: $color-primary;
    border: 0;
    border-radius: 2px;
    padding: 5px 10px;
    text-align: center;
    color: #fff;
    
    &:disabled {
        cursor: not-allowed;
        background: $color-primary;
    }

    &.btn-lg {
        width: 100%;
    }

    &.btn-success {
        background-color: #5cb85c;
        color: white;
    }
}
