@import '~@angular/material/core/theming/all-theme';
@import 'variables';
@import 'buttons';
@import 'typography';

@include mat-core();

$candy-app-primary: mat-palette($mat-blue);
$candy-app-accent:  mat-palette($mat-grey, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font: 300 15px/1.4 -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  color: $font-color-base;
}

body {
  padding: 50px;
}

img {
  vertical-align: bottom;
}
img a {
  border: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: $color-primary;
  text-decoration: none;
}
input,
button {
  outline: 0;
}
// input[type=text],
// input[type=email],
// input[type=number]
// input[type=password] {
//   border: none;
//   background: #fff;
//   font-size: 13px;
//   padding: 6px 30px 6px 10px;
//   border-radius: 1px;
//   box-shadow: 1px 1px 3px 1px #ccc;
//   border: 1px solid #eee;
// }

.flex {
  display: flex;

  &-50 {
    width: 50%;
  }
}

.align {
  &-center-center {
    justify-content: center;
    align-content: center;
  }
}