
// Colors
$color-primary: #03a9f4;


<<<<<<< HEAD
// Basics
$font-color-base: #545e6f;


// Dimensions
=======
// Basics HTML elements and 
$font-color-base: #545e6f;


// Dimensions (margins, paddings, sizing, media queries)
>>>>>>> 03786af6f8c82cf567a6a62df991707430c19d4d



// Other stuff